.navbar{
	margin-top: 0px;

}

.navbar-right{
	margin-right: 100px;
}

.navbar-brand{
	margin-left: 100px;
}



.text-break {
	text-align: center;
	margin-top: 0px;
	background-color: #2C2B2A;
	padding: 80px;
}

.card-group{
	text-align: center;
}

.col{
	margin-left: 100px;

}

.card {
	margin-top: 40px;
	text-align: center;
}

.second-row{
	margin-top: 50px;
}

.strike{
	color: gray;
}

/*.text-footer{
	color: white;
	text-align: center;
	margin-top: 50px;
	padding: 30px;
	background-color: black;
}*/